body {
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  color: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  max-width: 850px;
  margin: auto;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.input-card {
  background: #181818;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 8px #00000088;
  margin-bottom: 30px;
}

.task-input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background: #0d0d0d;
  border: 1px solid #333;
  color: #e6e6e6;
  border-radius: 8px;
  margin-bottom: 20px;
}

.task-input:focus {
  outline: none;
  border-color: #5b3df5;
}

.btn-group {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  color: #ffffff;
}

.create {
  background: #2d9cdb;
}

.create:hover {
  background: #3db4ff;
}

.edit {
  background: #f2c94c;
  color: #000;
}

.edit:hover {
  background: #ffe07a;
}

.delete {
  background: #eb5757;
}

.delete:hover {
  background: #ff6b6b;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.task-card {
  background: #181818;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #2c2c2c;
  box-shadow: 0px 0px 5px #00000055;
}

.task-card h2 {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
}

.status {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.completed {
  color: #27ae60;
}

.pending {
  color: #eb5757;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-left h1 {
  margin: 4px 0;
}

.completed {
  color: rgb(0, 180, 0);
  font-weight: bold;
}

.not-completed {
  color: rgb(220, 0, 0);
  font-weight: bold;
}

.mini-btn {
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  transition: 0.2s;
}

.mini-btn.yellow {
  background: #f2c94c;
  color: #000;
}
.mini-btn.yellow:hover {
  background: #ffdd6e;
}

.mini-btn.red {
  background: #eb5757;
  color: #fff;
}
.mini-btn.red:hover {
  background: #ff6b6b;
}

.mini-btn.green {
  background: #27ae60;
  color: #fff;
}
.mini-btn.green:hover {
  background: #2fdc75;
}
